node_modules
.next
.git
.gitignore
README.md
Dockerfile*
docker-compose*
.dockerignore
.env*.local
.vercel
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
.nyc_output
.cache
dist
build
.pnpm-store 
