.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 20px;
}

.title {
  grid-column: 1 / 8;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

.playerRowContainer {
  grid-column: 1 / 8;
  padding: 8px 2px;
}

.playerRowHeader p {
  padding: 4px 2px;
  background-color: #b8b8b8;
  max-width: none;
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}
